/* TAILWIND IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ICON LIBRARY */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* GLOBAL CSS */
* {
  font-family: 'Open Sans', sans-serif;
}

main {
  min-height: 83vmin;
  padding-bottom: 69px;
  max-width: 1100px;
  margin: auto;
}

.slick-next:before,
.slick-prev:before {
  color: #37be91!important;
  font-size: 34px!important;
}

.slick-dots li.slick-active button:before {
  color: #37be91!important;
}

.slick-dots li button:before {
  color: #90DFC5!important;
}